<div class="row">

    <div class="col-md-3 col-md-offset-9 text-right">              
        <p class="min-padding">
        {{#if userInfo}}
            Welcome {{userInfo.username}} &nbsp; &nbsp;
        {{else}} 
        	<br>
        {{/if}}
        </p>
        
    </div>

</div>


{{#nav-bar}}{{/nav-bar}}
