<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to 'content.find' classNames="navbar-brand"}}
              XReffed {{/link-to}}
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">              
              {{#link-to 'content.find' tagName="li"}}
                  <a href={{view.href}}>Content</a>
              {{/link-to}}
              {{#link-to 'layout1' tagName="li"}}
                  <a href={{view.href}}>4Dev</a>
              {{/link-to}}              
              {{#link-to 'about' tagName="li"}}
                  <a href={{view.href}}>About</a>
              {{/link-to}}
            </ul>
        </div>
    </div>
</nav>