<section class="location">
	<p class="dxr-h1"> CURRENT LOCATION </p>
	{{where/nav-component}}	
</section>	
<section class="info">		
	<p class="dxr-h1"> INFO </p>
	{{#component whereInfo.metaCardType data=whereInfo.metaInfo}}
	{{/component}}
</section>	
<section class="related">
	<p class="dxr-h1"> RELATED </p>
	{{#component whereInfo.relatedDisplayType data=whereInfo.relatedInfo}}
	{{/component}}
</section>
{{yield}}
