<p class="dxr-h1"> CURRENT LOCATION </p>
<section class="location">
	{{where/nav-component}}	
</section>	
<p class="dxr-h1"> INFO </p>
<section class="info">		
	{{#component whereInfo.metaCardType data=whereInfo.metaInfo}}
	{{/component}}
</section>	
<p class="dxr-h1"> RELATED </p>
<section class="related dxr-smaller">	
	{{#component whereInfo.relatedDisplayType data=whereInfo.relatedInfo}}
	{{/component}}	
</section>
{{yield}}
