@import 'bootstrap';
@import 'font-awesome';

// NOTES:
// Note: 0.0001 is for a chromium bug:
// https://code.google.com/p/chromium/issues/detail?id=178221
// https://code.google.com/p/chromium/issues/detail?id=460510

// ===================================================================
// COLORS
// ===================================================================


// ===================================================================
// COMPONENT SPACING
// ===================================================================
.item-list-header {
  .paging-info {

    
    font-size: 1.0em;
    height: 3.0em;
    

    .page-num {
      float: left;
    }
    .page-num {
      float: right;
    }
  }
}

.item-list {
  height:70vh;
  overflow: auto;
  .item { 
    background-color: #ddeeff; 
    margin: 0px 0px 10px 0px;
    padding: 2px;
  }


  .title {
    font-weight:700;
    font-size: 1.2em;
  }
  
  p {
    font-size: 0.9em;
  }
}



// ===================================================================
// LAYOUT
// ===================================================================

// For the Whole Application
.app-frame {
  min-width: 1000px;
  overflow: auto;
}

.flex-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.content-height {
  height:80vh;
}
.main-container {
  min-width: 1024px;
  min-height: 500px;
  

  padding: var(--space);

  display: flex;
  flex-direction: row;

  .left-panel {
    order: -1;
    max-width: 500px;
    overflow: hidden;
    
    padding: 1em;
    border-radius: 3px;
    background: #EEEEEE;
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    transition: all 0.5s ease;
  }

  .viewer-panel {
    margin-top: var(--space);
    flex: 4;
    -webkit-flex: 4;
    padding: 0;
    // border: 1px solid black; 
    margin: 5px;  
  }

  .content-panel {
    margin-top: var(--space);
    flex: 4;
    -webkit-flex: 4;
    padding: 0;
    // border: 1px solid black; 
    margin: 5px;  
    height: 80vh;
    overflow: auto;

  }

  

  .right-panel {
    padding: 1em;
    border-radius: 3px;
    background: #EEEEEE;
    flex: 3 0 0;
    -webkit-flex: 3 0 0;
    transition: all 0.5s ease;
  }

  .side-lined {
    flex: 0.0001 0 0;
    -webkit-flex: 0.0001;
  }

}

// ===================================================================
// SPACING
// ===================================================================

.margin-10 {
  margin: 10px;
}


