<div class="flex-container">
	<div class="content-panel">		
	{{#item-list 
		items=model.items 
		pagingInfo=model 
		nextPage="loadNextPage" 
		prevPage="loadPrevPage" 
	}} {{/item-list}}
	</div>
	<div class="right-panel">
			
	</div>
</div>