<div class="flex-container content-height">
	<div class="left-panel content-height">
		{{where-component}}
	</div>
	<div class="center-panel">		
	{{item-list 
		items=model.items 
		pagingInfo=model 
		nextPage="loadNextPage" 
		prevPage="loadPrevPage" 
	}} 
	</div>
	<div class="right-panel">
		<i>Placeholder</i>
	</div>
</div>