<div class="flex-container content-height">
	<div class="left-panel">

	</div>
	<div class="center-panel">		
		<h3> LOADING...  <i class="fa fa-refresh fa-spin"></i> </h3>
	</div>
	<div class="right-panel">
		<i>Placeholder</i>
	</div>
</div>