<div class="flex-container content-height">
	<div class="content-panel">				
		{{{model.decoratedText}}}
	</div>
	<div class="right-panel">
		{{#item-list hasBlock=true items=model.links}} 			
			
			<h3> TITLE: {{item.title}} </h3>


		{{/item-list}}
	</div>
</div>