<div class="flex-container content-height">
	<div class="left-panel">

	</div>
	<div class="center-panel">				
		{{{model.decoratedText}}}
	</div>
	<div class="right-panel">
		{{#each model.linkGroups as |group|}}
			{{item-list resultsLabel=group.key items=group.value}}
		{{/each}}

	</div>
</div>