<div class="flex-container content-height">
	<div class="left-panel content-height">
		{{where-component}}
	</div>
	<div class="center-panel">		
		{{#component model.cardData.cardType data=model.cardData}}		
		{{/component}}
	</div>
	<div class="right-panel">
		<i> placeholder </i>		
		{{#editor-component}}  {{/editor-component}}
	</div>
</div>