<div class="flex-container content-height">
	<div class="left-panel content-height">
		{{where-component}}
	</div>
	<div class="center-panel">		
		{{#component model.cardType data=model}}		
		{{/component}}
	</div>
	<div class="right-panel">
		<i> placeholder </i>
		<!-- toolbar with suitable buttons and dialogues -->
		<div id="toolbar">
		  <a data-wysihtml5-command="bold">bold</a>
		  <a data-wysihtml5-command="italic">italic</a>
		  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
		  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
		</div>

		<!-- element to edit -->
		<div id="editor" data-placeholder="Go on, start editing..."></div>
	</div>
</div>