THIS IS A TEST <br>
XYZ: {{XYZ}}
888 {{bar}}
<hr>
{{#each generatedFieldSpecifications as |renderFieldSpec|}}
	{{component renderFieldSpec.componentName fieldSpec=renderFieldSpec fieldModel=renderFieldSpec.fieldModel }}
{{/each}}
<hr>

<div style="background: white; width: 100%; height:300px; overflow: auto;">
	{{to-json null generatedFieldSpecifications}}
</div>