<div class="app-frame">	
    {{#app-header userInfo=userInfo showChangeUser=showChangeUser}}{{/app-header}}
    
  	{{outlet}}
    <hr>

    <div> © 2015  - Dxref - a private enterprise to advance the online creation, annotation, discovery, and referencing of <i> your (e.g. the user's) </i> content of interest. </div>
</div>
