
<div class="main-container">
	<div class="left-panel">
	</div> 
	<div class="content-panel">
		<h3> LOADING...  <i class="fa fa-refresh fa-spin"></i> </h3>
	</div>
	<div class="right-panel">
	</div>
</div>