<div class="main-container">	
	<div class="viewer-panel">
		<div class="left-panel"></div>
		<div class="center-panel">
			<h3> LOADING...  <i class="fa fa-refresh fa-spin"></i> </h3>
		</div>
		<div class="right-panel"></div>
	</div>	
</div>