<div class="main-container">
	<div class="left-panel">
	</div> 
	<div class="content-panel">
		<button {{action 'test'}}> Test</button>			
		{{#item-list items=model.items pagingInfo=model}}
		{{/item-list}}
	</div>
	<div class="right-panel">
	</div>
</div>