<div class="main-container">
	<div class="left-panel">
		{{button-component text="test" isEnabled=true action="test"}}
		{{button-component text="test2" isEnabled=false}}
	</div> 
	<div class="content-panel">		
		{{#item-list 
			items=model.items 
			pagingInfo=model 
			nextPage="loadNextPage" 
			prevPage="loadPrevPage" 
		}} {{/item-list}}
		
	</div>
	<div class="right-panel">
	</div>
</div>